@tailwind base;
@tailwind components;
@tailwind utilities;

/* COMMAND */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  color: #757693;
  line-height: 26px;
}
.title {
  @apply text-center;
}
.title span {
  @apply mb-4 rounded-full px-[1.125rem] py-[0.375rem] bg-[#edf5ff] inline-block;
}
.title h2 {
  @apply mb-4 text-3xl font-bold text-black xl:text-[44px] xl:leading-[55px];
}
.title p {
  @apply mx-auto md:w-4/5 lg:w-3/5 xl:w-[46%];
}
/* HEADER */
header {
  @apply w-full py-7 fixed left-0 top-0 z-[999] bg-white;
  transition: all, 0.3s;
}
.navbar__container {
  @apply max-w-[1390px] mx-auto flex items-center justify-between flex-wrap px-4 md:px-8 2xl:px-0;
}
.navbar__container .navbar__brand {
  @apply xl:w-[20%];
}
.navbar__container .navbar__content {
  @apply w-full p-[30px] mt-4 bg-white shadow-custom xl:shadow-none rounded-md  xl:flex xl:items-center xl:justify-between xl:w-[80%] xl:mt-0 xl:p-0;
}
.navbar__content ul {
  @apply flex flex-col gap-5 xl:flex-row xl:gap-10;
}
.navbar__menu a:hover {
  @apply text-blue-500;
}
.navbar__menu ul li:nth-child(5) a {
  @apply flex items-center gap-3;
}
.navbar__menu ul li:nth-child(5) a i {
  font-size: 12px;
}
.navbar__container .navbar__controls {
  @apply flex justify-start items-center gap-6 mt-7 xl:mt-0;
}
.navbar__container .navbar__controls .icon__search {
  @apply hidden md:flex h-[38px] w-[38px] items-center justify-center;
}
.navbar__controls .navbar__control-right {
  @apply w-full flex items-center justify-between xl:flex-row-reverse xl:w-auto xl:gap-6;
}
.navbar__controls .navbar__account {
  @apply flex items-center gap-6;
}
.navbar__controls .navbar__account a:last-child {
  @apply flex items-center justify-center rounded-full bg-blue-600 px-[30px] py-2.5  text-white;
}
.navbar__menu #dropdownNavbar {
  border: 1px solid #eee;
  border-radius: 6px;
  top: 32px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  @apply w-full md:min-w-[644px] xl:min-w-[236px] py-[20px] px-[32px] bg-white shadow-lg shadow-black/5 xl:shadow-none border-gray-200;
}
.navbar__menu .dropdown__menuItem {
  @apply flex flex-col gap-4;
}
/* BANNER */
.banner {
  @apply px-4 mx-auto max-w-[1390px] pb-[80px] xl:pb-[100px] md:px-8 xl:px-0 pt-[140px] md:pt-40 xl:pt-[184px] md:flex md:items-center xl:gap-[8.125rem];
}
.banner .banner__content {
  @apply md:w-[50%] xl:max-w-[630px];
}
.banner h4 {
  @apply mb-[18px] text-lg font-medium text-black;
}
.banner h1 {
  @apply pr-16 mb-5 text-3xl font-bold text-black xl:text-[44px] xl:leading-[58px];
}
.banner__content a {
  @apply mt-10 inline-block rounded-full bg-black px-[1.875rem] py-2.5 text-white duration-300 ease-in-out;
}
.banner h1 span {
  @apply relative ml-2.5 inline-block before:absolute;
}
.banner h1 span::before {
  content: "";
  @apply absolute bottom-[10px] left-0 -z-10 h-3 w-full bg-[#adfff8];
}
.banner .banner__img {
  @apply hidden md:block md:w-[50%] xl:-mr-[1.875rem] relative;
}
.banner .banner__img img:first-child {
  @apply w-full h-full shadow-solid_l;
}
.banner .banner__img img:nth-child(2) {
  @apply absolute top-0 -left-[2.875rem];
}
.banner .banner__img img:nth-child(3) {
  @apply absolute right-0 bottom-0;
}
.banner .banner__img img:nth-child(4) {
  @apply absolute bottom-0 -right-[1.625rem];
}
/* BRAND */
.brand {
  @apply px-4 md:px-8 mx-auto py-11 bg-[#fbfbfb] border-y-[1px] border-solid border-[#eee] xl:px-0;
}
.brand .brand__list {
  @apply grid grid-cols-3 gap-[1.875rem] lg:gap-[3.125rem] xl:gap-[7.25rem] md:grid-cols-6 max-w-[1390px] mx-auto;
}
.brand__list a {
  @apply block h-10 w-[98px];
}
.brand__list a img {
  @apply opacity-65 w-full h-full transition-all duration-300 hover:opacity-100;
}
/* FEATURES */
.features {
  @apply mx-auto max-w-[1315px] px-4 md:px-8 xl:px-0 py-20 lg:py-[6.25rem] xl:py-[7.5rem];
}
.features__content {
  @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-[1.875rem] xl:gap-[3.125rem] mt-[50px] xl:mt-20;
}
.features__content .features__items {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(8, 14, 40, 0.04) 0px 6px 90px 0px;
  @apply rounded-lg border border-white bg-white p-[1.875rem] xl:p-[50px] transition-all;
}
.features__content .features__items:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(8, 14, 40, 0.1) 0px 6px 90px 0px;
}
.features__items .feature__item-img {
  @apply flex h-16 w-16 items-center justify-center rounded-[4px] bg-primary;
}
.features__items h3 {
  @apply mb-5 mt-[30px] text-xl font-semibold text-black xl:text-[26px];
}
/* START UP  */
.startup {
  @apply flex items-center mx-auto gap-8 px-4 md:px-8 xl:px-0  max-w-[1235px] overflow-hidden pb-20 xl:pb-[120px];
}
.startup .startup__img {
  @apply hidden md:block md:w-1/2;
}
.startup .startup__content h4 {
  @apply font-medium uppercase text-black;
}
.startup .startup__content h4 span {
  @apply mb-4 mr-4 inline-flex rounded-full bg-[#20c5a8] px-[18px] py-1 text-[12px] leading-[20px] uppercase text-white;
}
.startup .startup__content h2 {
  @apply relative mb-6 text-3xl font-bold text-black;
}
.startup .startup__content h2 span {
  @apply relative inline-block before:absolute before:bottom-2.5 before:left-0 before:-z-10 before:h-3 before:w-full before:bg-[#adfff8];
}
.startup__content .step__item {
  @apply mt-[30px] flex items-center gap-5;
}
.startup__content .step__item .step__number {
  @apply flex h-[60px] w-[60px] items-center justify-center rounded-[50%] border border-gray-200;
}
.startup__content .step__item .step__number p {
  @apply text-[20px] leading-[32px] font-semibold text-black dark:text-white;
}
.startup__content .step__item .step__desc {
  @apply w-3/4;
}
.startup__content .step__item .step__desc h3 {
  @apply mb-0.5 text-[20px] leading-[32px] text-black;
}
/* INTEGRATION */
.integration {
  @apply mx-auto max-w-[1235px] overflow-hidden px-4 md:px-8 xl:px-0 flex items-center gap-8 lg:gap-[8.125rem];
}
.integration .integration__content {
  @apply md:w-1/2;
}
.integration .integration__content h4 {
  @apply font-medium uppercase text-black;
}
.integration .integration__content h2 {
  @apply relative mb-6 text-3xl font-bold text-black dark:text-white xl:text-[44px] xl:leading-[58px];
}
.integration .integration__content h2 span {
  @apply relative ml-2.5 inline-block before:absolute before:bottom-2.5 before:left-0 before:-z-10 before:h-3 before:w-full before:bg-[#ffeac2];
}
.integration .integration__content a {
  @apply mt-[30px] inline-flex items-center gap-2.5 text-black hover:text-blue-500 dark:text-white;
}
.integration__content a span {
  @apply duration-300;
}
.integration .integration__content a:hover span {
  @apply pr-2;
}
.integration .integration__img {
  @apply relative mx-auto hidden aspect-[588/526.5] md:block md:w-1/2;
}

/* TABS */
.tabs {
  @apply mx-auto max-w-[1390px] px-4 md:px-8 2xl:px-0 pb-20 pt-[4.625rem] lg:pb-[5.625rem];
}
.tabs .tabs__list {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(45, 74, 170, 0.08) 0px 8px 24px 0px;
  @apply md:flex-row flex-col flex flex-wrap justify-center rounded-[10px] border border-gray-200 bg-white w-full mb-[60px] xl:mb-[86px] overflow-hidden;
}
.tabs__list .tab__item {
  @apply w-full border-b border-gray-200 xl:w-auto xl:border-none;
}
.tabs__list .tab__item button {
  @apply w-full;
}
.tabs__list .tab__item button .tab__item-content {
  @apply flex items-center gap-4 px-6 py-2 xl:px-[54px] xl:py-5;
}
.tab__item-content .tab__item-number {
  @apply h-[50px] w-[50px] flex items-center justify-center rounded-[50%] border border-gray-200 text-black font-medium text-[18px] leading-[26px];
}
.tab__item-content .tab__item-desc {
  @apply md:w-3/5 lg:w-auto;
}
.tabs #default-styled-tab-content .tabs__content {
  @apply flex items-center gap-8 lg:gap-[4.75rem];
}
.tabs__content .tabs__content-left {
  @apply md:w-1/2;
}
.tabs .tabs__content-left h2 {
  @apply mb-7 text-3xl font-bold text-black xl:text-[40px] xl:leading-[52px];
}
/* BACKTOTOP */
.backToTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  /* back-to-top button visible */
  visibility: visible;
  opacity: 1;
}

.backToTop i {
  position: fixed;
  font-size: 22px;
  right: 30px;
  bottom: 35px;
  width: 40px;
  height: 40px;
  background: #006bff;
  line-height: 40px;
  text-align: center;
  color: white;
  @apply shadow-md;
}

@media (min-width: 1280px) {
  .navbar__menu #dropdownNavbar::before {
    content: " ";
    position: absolute;
    width: 11px;
    height: 11px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    @apply border-gray-200;
    background-color: #fff;
    top: -0.375rem;
    left: 2.5rem;
    rotate: 45deg;
    z-index: 1;
  }
  .navbar__menu #dropdownNavbar {
    inset: 52px auto auto 88px !important;
  }
}
