@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  color: #757693;
  line-height: 26px;
}

/* HEADER */
header {
  @apply w-full py-7 fixed left-0 top-0 z-[999] bg-white;
  transition: all, 0.3s;
}
.navbar__container {
  @apply max-w-[1390px] mx-auto flex items-center justify-between flex-wrap px-4 md:px-8 2xl:px-0;
}
.navbar__container .navbar__brand {
  @apply xl:w-[20%];
}
.navbar__container .navbar__content {
  @apply w-full p-[30px] mt-4 bg-white shadow-custom xl:shadow-none rounded-md  xl:flex xl:items-center xl:justify-between xl:w-[80%] xl:mt-0 xl:p-0;
}
.navbar__content ul {
  @apply flex flex-col gap-5 xl:flex-row xl:gap-10;
}
.navbar__menu a:hover {
  @apply text-blue-500;
}
.navbar__menu ul li:nth-child(5) a {
  @apply flex items-center gap-3;
}
.navbar__menu ul li:nth-child(5) a i {
  font-size: 12px;
}
.navbar__container .navbar__controls {
  @apply flex justify-start items-center gap-6 mt-7 xl:mt-0;
}
.navbar__container .navbar__controls .icon__search {
  @apply hidden md:flex h-[38px] w-[38px] items-center justify-center;
}
.navbar__controls .navbar__control-right {
  @apply w-full flex items-center justify-between xl:flex-row-reverse xl:w-auto xl:gap-6;
}
.navbar__controls .navbar__account {
  @apply flex items-center gap-6;
}
.navbar__controls .navbar__account a:last-child {
  @apply flex items-center justify-center rounded-full bg-blue-600 px-[30px] py-2.5  text-white;
}
.navbar__menu #dropdownNavbar {
  border: 1px solid #eee;
  border-radius: 6px;
  top: 32px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  @apply w-full md:min-w-[644px] xl:min-w-[236px] py-[20px] px-[32px] bg-white shadow-lg shadow-black/5 xl:shadow-none border-gray-200;
}
.navbar__menu .dropdown__menuItem {
  @apply flex flex-col gap-4;
}
/* BANNER */
.banner {
  @apply mx-auto max-w-[1390px] pb-[80px] xl:pb-[100px] px-4 md:px-8 xl:px-0 pt-[140px] md:pt-40 xl:pt-[184px] md:flex md:items-center xl:gap-[8.125rem];
}
.banner .banner__content {
  @apply md:w-[50%];
}
.banner h4 {
  @apply mb-[18px] text-lg font-medium text-black;
}
.banner h1 {
  @apply pr-16 mb-5 text-3xl font-bold text-black;
}
.banner__content a {
  @apply mt-10 inline-block rounded-full bg-black px-[1.875rem] py-2.5 text-white duration-300 ease-in-out;
}
.banner h1 span {
  @apply relative ml-2.5 inline-block before:absolute;
}
.banner h1 span::before {
  content: "";
  @apply absolute bottom-[10px] left-0 -z-10 h-3 w-full bg-[#adfff8];
}
.banner .banner__img {
  @apply hidden md:block md:w-[50%] xl:-mr-[1.875rem] relative;
}
.banner .banner__img img:first-child {
  @apply w-full h-full shadow-solid_l;
}
.banner .banner__img img:nth-child(2) {
  @apply absolute top-0 -left-[2.875rem];
}
.banner .banner__img img:nth-child(3) {
  @apply absolute right-0 bottom-0;
}
.banner .banner__img img:nth-child(4) {
  @apply absolute bottom-0 -right-[1.625rem];
}

/* BRAND */
.brand {
  @apply px-4 md:px-8 mx-auto py-11 bg-[#fbfbfb] border-y-[1px] border-solid border-[#eee];
}
.brand .brand__list {
  @apply grid grid-cols-3 gap-[1.875rem] lg:gap-[3.125rem] md:grid-cols-6;
}
.brand__list a {
  @apply block h-10 w-[98px];
}
.brand__list a img {
  @apply opacity-65 w-full h-full transition-all duration-300 hover:opacity-100;
}

.animate__animated {
  animation-duration: 1600ms;
}
/* Custom delays */
.animate__delay-1 {
  animation-delay: 0ms;
}

.animate__delay-2 {
  animation-delay: 300ms;
}

.animate__delay-3 {
  animation-delay: 600ms;
}

.animate__delay-4 {
  animation-delay: 900ms;
}

.animate__delay-5 {
  animation-delay: 1200ms;
}

.animate__delay-6 {
  animation-delay: 1500ms;
}
/* BACKTOTOP */
.backToTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  /* back-to-top button visible */
  visibility: visible;
  opacity: 1;
}

.backToTop i {
  position: fixed;
  font-size: 22px;
  right: 30px;
  bottom: 35px;
  width: 40px;
  height: 40px;
  background: #006bff;
  line-height: 40px;
  text-align: center;
  color: white;
  @apply shadow-md;
}

@media (min-width: 1280px) {
  .navbar__menu #dropdownNavbar::before {
    content: " ";
    position: absolute;
    width: 11px;
    height: 11px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-style: solid;
    @apply border-gray-200;
    background-color: #fff;
    top: -0.375rem;
    left: 2.5rem;
    rotate: 45deg;
    z-index: 1;
  }
  .navbar__menu #dropdownNavbar {
    inset: 52px auto auto 88px !important;
  }
}
